/* -- Core Sub Layouts ----------------------------------------------- */

.core-sublayout-wrapper:after {
    content: "";
    clear: both;
    display: block;

}

/* Right column layout */

.core-layout-right-column .core-layout-column.lc-column-one {
    float: right;
    width: 300px;
    box-sizing: border-box;
    padding-left: 18px;
}

.core-layout-right-column .core-layout-column.lc-column-two {
    margin-right: 300px;
} 

/* Left column layout */

.core-layout-left-column .core-layout-column.lc-column-one {
    float: left;
    width: 300px;
    box-sizing: border-box;
    padding-right: 18px;
}

.core-layout-left-column .core-layout-column.lc-column-two {
    margin-left: 300px;
}

/* Menus */

.core-sidebar-content ul.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.core-sidebar-content ul.menu > li {
    margin: 0;
    padding: 0;
}

.core-sidebar-content ul.menu > li > a {
    display: block;
    padding: 8px 18px;
}

@media screen and (max-width: 989px) {

    .core-layout-right-column .core-layout-column.lc-column-one,
    .core-layout-left-column .core-layout-column.lc-column-one {
        float: none;
        width: auto;
        box-sizing: border-box;
        padding-right: 0;
        padding-left: 0;
    }

    .core-layout-right-column .core-layout-column.lc-column-two,
    .core-layout-left-column .core-layout-column.lc-column-two {
        margin-right: 0;
        margin-left: 0;
    }
    
}

/* -- Core Extension Publications ----------------------------------------------- */

.extension-publication-item {
    padding: 12px 8px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    /* For print styling */
    page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-inside: avoid; /* or 'auto' */
}
.extension-publication-item:after {
    content: "";
    clear: both;
    display: block;
}

.extension-publication-item > a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 0;
    display: block;
    z-index: 1;
}
.extension-publication-item > a:hover {
    background-color: rgba(0,0,0,0.1);
}

.extension-publication-item .extension-pubication-image {
    width: 75px;
    height: 75px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    background-color: #ccc;
}

.extension-publication-item .extension-publication-content-wrapper {
    margin-left: 90px;
}

.extension-publication-item .extension-publication-title {
    color: #981e32;
    font-weight: bold;
}

.extension-publication-item .extension-publication-summary {
    font-size: 13px;
    line-height: 16px;
}

/* -- Core Print View ----------------------------------------------- */

a.core-show-print {
    display: block;
    font-size: 14px;
}
#core-print-view a.core-show-print {
    display: none;
}

#core-print-view {
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid #fff;
}

* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important;                 /*Firefox*/
}